zsh/.zsh/plugins/*
!zsh/.zsh/plugins/.gitkeep

zsh/.zsh/cache/
*.zcompdump*
.DS_Store

*.local
.zsh-local.s


# vim
vim/.vim/plugged/
vim/.vim/pack/*/start/*
vim/.vim/autoload/plug.vim
vim/.vim/swap/
vim/.vim/undo/
vim/.vim/backup/
vim/.vim/.netrwhist
*.swp
*.swoh
